extends layout

block body
  div.openerp
    div.navbar
    div.main
      div.menu
        a.logo(href="/")
          img(src="/img/logo.png")
        div.appmenu
      div.content

  script(type="text/template", id="page-header")
    div.pageHeader.clearfix
      h2 <%= name %>
      div.searchbox
        span.oe_e.search-icon &#128269;
        input.search(placeholder="Search...") 
        span.oe_e.searchclear [

  script(type="text/template", id="mainmenu-item")
    a(href!="/app/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-item")
    a(href!="/app/<%= app %>/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>
    <% if(counter > 0) { %>
    span.counter <%= counter %>
    <% } %>

  script(type="text/template", id="appmenu-section")
    div.section
      h4 <%= section %>

  script(type="text/template", id="Sales-Customers")
    div Clients

  script(type="text/template", id="Sales-Leads")
    div Leads

  script(type="text/template", id="Sales-Opportunities")
    div Opportunities

  script(type="text/template", id="Sales-Quotations")
    div Quotations

  script(type="text/template", id="Sales-SaleOrders")
    div Commandes

  script(type="text/template", id="eCommerce-ShoppingCart")

  script(type="text/template", id="ShoppingCart")
    table.shoppingcart
      tr
        th
        th Quantity
        th Price
        th

      <% if(cart.length == 0) { %>
      tr
        td(span="4") Your shopping car is empty
      <% } else { %>
      <% cart.forEach(function(p) { %>
      tr
        td
          a.product(href!="/app/eCommerce/product/<%= p.name %>")
            img(src!="/eCommerce/img/products/<%= p.name %>.jpg")
            h4 <%= p.name %>
            <%= p.shortDescription %>
        td
          input(value!="<%= p.qty %>")
        td
          div.price &euro; <%= p.price %>
        td
          a(href="") Remove
      <% }); %>
      tr
        td
        td
        td <%= cart.reduce(function(sum, l) { return sum + l.qty; }, 0) %>
        td
      <% } %>

  script(type="text/template", id="eCommerce-Shop")

  script(type="text/template", id="eCommerce-Products")
    div Produits

  script(type="text/template", id="eCommerce-ProductCategories")
    div Categories de Produit

  script(type="text/template", id="Settings-Apps")
    div Applications

  script(type="text/template", id="Settings-Users")
    div Utilisateurs

  script(type="text/template", id="gallery-view")
    div.gallery
      <% products.forEach(function(p) { %>
      a.product(href!="/app/eCommerce/product/<%= p.name %>")
        img(src!="/eCommerce/img/products/<%= p.name %>.jpg")
        div.name <%= p.name %>
        div.description <%= p.shortDescription %>
        div.price &euro; <%= p.price %>
      <% }); %>

  script(type="text/template", id="page-view")
    div.productpage
      img(src!="/eCommerce/img/products/<%= product.name %>.jpg")
      div.description
        h1 <%= product.name %>
        p <%= product.shortDescription %>
        h2 &euro; <%= product.price %>
        p <%= product.description %>
        p
          label(for="quantity") Quantity
        p
          input.quantity(type="text", name="quantity", value="1")
        button.addtocart Add to Cart

  script(type="text/template", id="eCommerce-Home")
    div.home
      div.col2
        div.categories.pane
          a.category(href="shop/sofas")
            img(src="/eCommerce/img/sofas.jpg")
            h3 Sofas
          a.category(href="shop/tables")
            img(src="/eCommerce/img/tables.jpg")
            h3 Tables
          a.category(href="shop/chairs")
            img(src="/eCommerce/img/chairs.jpg")
            h3 Chairs
          a.category(href="shop/shelves")
            img(src="/eCommerce/img/shelves.jpg")
            h3 Shelves
          a.category(href="shop/beds")
            img(src="/eCommerce/img/beds.jpg")
            h3 Beds
        div.pane
          a(href="")
            h2.overlay In November, get 15% off when you buy 4 chairs
            img.fullwidth(src="/eCommerce/img/chairs-promo.jpg")
      div.col1
        div.pane.column
          h4 Get free Shipping on all orders above 100$
        div.pane.column
          h3 Top Sellers
          ol
            li Foo
            li Foo
            li Foo
            li Foo
            li Foo

