extends layout

block body
  div.openerp
    div.navbar
    div.main
      div.menu
        a.logo(href="/")
          img(src="/img/logo.png")
        div.appmenu
      div.content

  script(type="text/template", id="page-header")
    div.pageHeader.clearfix
      h2 <%= name %>
      div.searchbox
        span.oe_e.search-icon &ocirc;
        input.search(placeholder="Search...") 
        span.oe_e.searchclear [
    div.page <%= name %>

  script(type="text/template", id="mainmenu-item")
    a(href!="/app/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-item")
    a(href!="/app/<%= app %>/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-section")
    div.section
      h4 <%= section %>

  script(type="text/template", id="ecommerce-home")
    div Vitrine et Promo

  script(type="text/template", id="ecommerce-shop")
    div Magasin

  script(type="text/template", id="ecommerce-shoppingcart")
    div Caddy

  script(type="text/template", id="ecommerce-products")
    div Produits

  script(type="text/template", id="ecommerce-productcategories")
    div Categories de Produit
