extends layout

block body
  div.openerp
    div.navbar
    div.main
      div.menu
        a.logo(href="/")
          img(src="/img/logo.png")
        div.appmenu
      div.content

  script(type="text/template", id="page-header")
    div.pageHeader.clearfix
      h2 <%= name %>
      div.searchbox
        span.oe_e.search-icon &#128269;
        input.search(placeholder="Search...") 
        span.oe_e.searchclear [

  script(type="text/template", id="mainmenu-item")
    a(href!="/app/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-item")
    a(href!="/app/<%= app %>/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-section")
    div.section
      h4 <%= section %>

  script(type="text/template", id="Sales-Customers")
    div Clients

  script(type="text/template", id="Sales-Leads")
    div Leads

  script(type="text/template", id="Sales-Opportunities")
    div Opportunities

  script(type="text/template", id="Sales-Quotations")
    div Quotations

  script(type="text/template", id="Sales-SaleOrders")
    div Commandes

  script(type="text/template", id="eCommerce-ShoppingCart")
    div Caddy

  script(type="text/template", id="eCommerce-Products")
    div Produits

  script(type="text/template", id="eCommerce-ProductCategories")
    div Categories de Produit

  script(type="text/template", id="Settings-Apps")
    div Applications

  script(type="text/template", id="Settings-Users")
    div Utilisateurs

  script(type="text/template", id="eCommerce-Shop")
    | foobar


  script(type="text/template", id="eCommerce-Home")
    div.container
      div.col2
        div.categories.pane
          a.category(href="category/sofas")
            img(src="/eCommerce/img/sofas.jpg")
            h3 Sofas
          a.category(href="category/tables")
            img(src="/eCommerce/img/tables.jpg")
            h3 Tables
          a.category(href="category/chairs")
            img(src="/eCommerce/img/chairs.jpg")
            h3 Chairs
          a.category(href="category/shelves")
            img(src="/eCommerce/img/shelves.jpg")
            h3 Shelves
          a.category(href="category/beds")
            img(src="/eCommerce/img/beds.jpg")
            h3 Beds
        div.pane
          a(href="")
            h2.overlay In November, get 15% off when you buy 4 chairs
            img.fullwidth(src="/eCommerce/img/chairs-promo.jpg")
      div.col1
        div.pane.column
          h4 Get free Shipping on all orders above 100$
        div.pane.column
          h3 Top Sellers
          ol
            li Foo
            li Foo
            li Foo
            li Foo
            li Foo


