extends layout

block body
  div.openerp
    div.navbar
    div.main
      div.menu
        a.logo(href="/")
          img(src="/img/logo.png")
        div.appmenu
      div.content

  script(type="text/template", id="page-header")
    div.pageHeader.clearfix
      h2 <%= name %>
      div.searchbox
        span.oe_e.search-icon &#128269;
        input.search(placeholder="Search...") 
        span.oe_e.searchclear [

  script(type="text/template", id="mainmenu-item")
    a(href!="/app/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-item")
    a(href!="/app/<%= app %>/<%= name %>", class!="<% if(active) print('active') %>") <%= name %>

  script(type="text/template", id="appmenu-section")
    div.section
      h4 <%= section %>

  script(type="text/template", id="Sales-Customers")
    div Clients

  script(type="text/template", id="Sales-Leads")
    div Leads

  script(type="text/template", id="Sales-Opportunities")
    div Opportunities

  script(type="text/template", id="Sales-Quotations")
    div Quotations

  script(type="text/template", id="Sales-SaleOrders")
    div Commandes

  script(type="text/template", id="eCommerce-ShoppingCart")
    div Caddy

  script(type="text/template", id="eCommerce-Products")
    div Produits

  script(type="text/template", id="eCommerce-ProductCategories")
    div Categories de Produit

  script(type="text/template", id="Settings-Apps")
    div Applications

  script(type="text/template", id="Settings-Users")
    div Utilisateurs

  script(type="text/template", id="eCommerce-Shop")
    div.container
      div.categories
        div.category Sofas
        div.category Tables
        div.category Shelves
      div.products


